
/* ====== START WITH MIN TO MAX ======== */    
    
    
/* EXTRA SMALL DEVICES (PORTRAITS PHONES)*/
    @media (max-width: 575px){
        .quality-list h2 {
        width: 100%;
        line-height: 50px;
    }
    .data-list-section-heading p {
	width: 100%;
	text-align: ;
	margin: 0 auto;
	color: #9a8686;
	font-size: 14px;
}
.testomonial-image {
	width: 90%;
	margin: 0 auto;
	margin-top: 2rem;
}

.accreditaions {
	width: 70%;
	margin: 0 auto;
}
        
.accreditations h2 {
	font-size: 23px;
	text-align: center;
}
        
 .customers-buttons a {
	width: 100%;
	margin-bottom: 10px;
}       
    
 .customers-buttons a:last-child {
    margin-left: 0;
}
        
.accreditaions img {
	width: 100%;
}
        .owl-nav .owl-prev span, .owl-nav .owl-next span{
            font-size: 30px;
        }
     .owl-nav .owl-prev{
            right: 50%;
        }    
        .owl-nav .owl-next{
            right: 30%;
        }
        .footer-item img{
            width: 30%;
            
        }
        .head-btns .btn {
	        width: 45%;
        }    
.accreditations2 h2 {
	font-size: 20px;
	text-align: center;
}
        .owl-theme .owl-nav {
	margin-top: 10px;
	position: absolute;
	top: -5%;
	right: 30%;
}
        
.customers-section-area{
    text-align: center;
}        
.customers-buttons a {
    width: 50%;
}
.customers-section-area h1{
    font-size: 35px;
}
.quality-list {
    margin-top: 50px;
}

.form-control::placeholder{
    font-size: 14px;
}

#textareas {
    height: 75px;
}

.frm button{
    width: 50%;
    float: right;
}
.dual-corner-img{
    display: none;
}
.single_data{
    display: none;
}
.testomonial-section-area{
    text-align: center;
}

.testomonial-description h2{ 
    font-size: 32px;
    margin-top: 100px;
    line-height: 0px;
 }
.testomonial-description p{
    font-size: 12px;
}

.testomonial-title h4{
    font-size: 20px;
    margin-top: 20px;
    font-weight: 200;
}
.testomonial-title h5{
    display: inline;
    font-size: 14px;
}
.owl-theme .owl-nav{
    top: -16%;
}

#target_id{
    display: block;
}







}
     
    
/* SMALL DEVICES (LANDSCAPE PHONES)*/
    @media (min-width: 576px) and (max-width: 767px){
.quality-list h2 {
	width: 100%;
	line-height: 50px;
}
    .accreditations2 h2 {
	font-size: 20px;
	text-align: center;
}
    .data-list-section-heading p {
	width: 100%;
	text-align: ;
	margin: 0 auto;
	color: #9a8686;
	font-size: 14px;
}
.testomonial-image {
	width: 90%;
	margin: 0 auto;
	margin-top: 2rem;
}   
        
 .customers-buttons a:last-child {
    margin-left: 0;
}

.accreditaions {
	width: 70%;
	margin: 0 auto;
}
.accreditaions img{
    width: 100%;
}
.accreditations h2 {
	font-size: 30px;
	text-align: center;
}
        
.customers-buttons a {
	width: 100%;
	margin-bottom: 10px;
}
        .owl-nav .owl-prev span, .owl-nav .owl-next span{
            font-size: 30px;
        }        
        
        .owl-nav .owl-prev{
            right: 50%;
        }    
        .owl-nav .owl-next{
            right: 30%;
        }
        .footer-item img{
            width: 30%;
            
        }
        .head-btns a {
            width: 48%;
        }
        
        .owl-theme .owl-nav {
	margin-top: 10px;
	position: absolute;
	top: -5%;
	right: 20%;
}
        
.owl-theme .owl-nav {
	margin-top: 10px;
	position: absolute;
	top: -5%;
	right: 30%;
}
        
.customers-section-area{
    text-align: center;
}        

.customers-buttons a {
    width: 50%;
}

.customers-section-area h1{
    font-size: 35px;
}
.quality-list {
    margin-top: 50px;
}
.form-control::placeholder{
    font-size: 14px;
}

#textareas {
    height: 75px;
}
.frm button{
    width: 50%;
    float: right;
}
.dual-corner-img{
    display: none;
}

.single_data{
    display: none;
}

.testomonial-section-area{
    text-align: center;
}

.testomonial-description h2{ 
    font-size: 32px;
    margin-top: 100px;
    line-height: 0px;
 }
.testomonial-description p{
    font-size: 12px;
}

.testomonial-title h4{
    font-size: 20px;
    margin-top: 20px;
    font-weight: 200;
}
.testomonial-title h5{
    display: inline;
    font-size: 14px;
}

.owl-theme .owl-nav{
    top: -16%;
}

.single-data-item {
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 7px;
    padding: 35px 16px;
    width: 80%;
    margin: 0 auto;
}

#target_id{
    display: block;
}

.target .owl-item img{
    width: 20%;
}
.data-item-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}
.testomonial-description p, h5 {
    font-family: 'Montserrat', sans-serif;
    color: #5A6973;
}







}
       
/* MEDIUM DEVICES (TABLETS)*/
    @media (min-width: 768px) and (max-width: 991px){
    .customers-buttons.mt-5 a {
	width: 100%;
	margin-top: 10px;
}
        
 .customers-buttons a:last-child {
    margin-left: 0;
}    
      
.accreditaions img{
    width: 100%;
}

.data-list-section-heading p{
    width: 80%;
}

.owl-nav .owl-prev span, .owl-nav .owl-next span{
    margin-right: 0;
} 

.owl-theme .owl-nav{
    top: -12%;
}
        

.target{
    display: none;
}






}
/* LARGE  DEVICES (LAPTOP OR DESKTOP)*/
    @media (min-width: 992px){

.data-item-icon {
    display: flex;
}

.data-item-icon img{
    margin-bottom: 1rem;
}


.target{
    display: none;
}






        
    }
/* EXTRA LARGE DEVICES (LARGE DESKTOPS)*/
    @media (min-width: 1200px){
       
.target{
    display: none;
}


    }

    
    
/* ======= START WITH MAX TO MIN ======= */    
    
   
/* LARGE DEVICES (DESKTOPS)*/
    @media (max-width: 1199px){
        
    }
        
       
/* MEDIUM DEVICES (TABLETS)*/
    @media (max-width: 991px){
        
    }
/* SMALL  DEVICES (LANDSCAPE PHONES)*/
    @media (max-width: 767px){
    
    }
/* EXTRA SMALL DEVICES (PORTRAIT PHONES)*/
    @media (max-width: 575px){
        
    }
        
     
  