/*=============Google fonts ==============*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Questrial&display=swap');

/*
     font-family: 'Montserrat', sans-serif;

     font-family: 'Questrial', sans-serif;
*/

*{
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}


img{
	width: 100%;
	height: auto;
}

h1, h2, h3, h4, h5, h6{
  	font-family: 'Montserrat', sans-serif;


}
a:hover{
    text-decoration: none
}

p, span{
	font-family: 'Open Sans', sans-serif;
}


/*===HEADER START===*/
.prospect-header-section{
    background: url("../img/MacBook-Pro-39.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 20px;
}

.logo img {
	width: 100%;
}


.navbar-light .navbar-nav .nav-link {
	color: #116638;
	font-size: 16px;
	font-family: 'Questrial', sans-serif;
}

.navbar-light .navbar-nav .nav-link:hover {
	color: #877BFB;
}

.navbar-light .navbar-toggler {
	color: #877BFB;
	border-color: transparent;
}

.head-btns{}
.head-btns a:first-child{
    border: solid 2px #011638; 
    color: #011638; 
    border-radius: 10px; padding: 15px 30px;
    font-size: 16px;
    font-family: 'Questrial', sans-serif;
    
    
}
.head-btns a:first-child:hover{
    background: #011535;
    color: #fff;
    -webkit-transition: .5s;
    transition: .5s;
}

.head-btns a:last-child{
    background: #011638; border-radius: 10px;
    padding: 15px 30px;
    font-size: 16px;
    font-family: 'Questrial', sans-serif;
    
}
.head-btns a:last-child:hover{
    opacity: .8;
}

/*=====VIDEO THUMBNAIL PART=====*/

.video-image{
    position: relative;
}

/*

.video-image img:last-child {
	position: absolute;
	top: -49px;
	right: 88px;
	z-index: -1;
}

*/

/*------CUSTOMERS SECTION-----*/
.customers-section-area{
    
    padding: 80px 0;
    padding-top: 150px;
}
.customers-buttons{}
.customers-buttons a:first-child{
    border: solid 1px #887AFC;
    color: #887AFC;
    border-radius: 10px;
    padding: 16px 24px;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Questrial', sans-serif;
    font-weight: 400;
}
.customers-buttons a:first-child:hover{
    background: #887AFC;
    color: #fff;
    -webkit-transition: .5s;
    transition: .5s;
}
.customers-buttons a:last-child{
    background: #887AFC;
    border-radius: 10px;
    padding: 15px 24px;
    font-size: 16px;
    font-family: 'Questrial', sans-serif;
    font-weight: 400;
    margin-left: 10px;
}
.customers-buttons a:last-child:hover{
    background: #fff;
    border: solid 1px #887AFC;
    color: #887AFC;
    -webkit-transition: .5s;  
    transition: .5s;

}
.customers-section-area h1 {
	color: #000000;
	font-family: 'Questrial', sans-serif;
	font-size: 44px;
	font-weight: 400;
}

.customers-section-area p {
	color: #0006;
	font-size: 18px;
	line-height: 33px;
	font-family: 'Montserrat', sans-serif;
}

.customers-section-area p strong{
    color: #6d5e5e;
}

.quality-list span {
	line-height: 22px;
	font-size: 14px;
	color: #9a8686;
	margin-bottom: 25px;
	width: 67%;
}

.quality-list h2 {
	width: 90%;
	line-height: 50px;
}

.perfect-data-list-section {
	padding: 80px 0;
}

.perfect-data-list-section {
	background: url('../img/perfect_bg-3.png');
	background-repeat: no-repeat;
	background-position: top right;
	background-size: auto;
	background-origin: content-box;
}

.perfect-data-list-section{
    position: relative;
}




.data-item-icon img {
	width: 6rem;
	background: ;
	background: #F1EEFF;
	padding: 20px;
	border-radius: 15px;
	margin-right: 2rem;
	margin-bottom: 3rem;
}

.data-item-icon h5 {
	-ms-flex-item-align: center;
	align-self: center;
	color: #011638;
	font-family: 'Questrial', sans-serif;
	font-size: 21px;
}



.data-list-section-heading p {
	width: 80%;
	margin: 0 auto;
	color: #021639;
	font-size: 20px;
	line-height: 37px;
	font-weight: 100;
	font-family: 'Montserrat', sans-serif;
}

.data-list-section-heading h2 {
	font-size: 36px;
	color: #021639;
	font-family: 'Questrial', sans-serif;
	margin-bottom: 20px;
}

.single-data-item p {
	color: #5A6973;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	line-height: 28px;
}

/*TESTOMONIAL STARTS*/
.testomonial-section-area {
    background-color: #041538;
    background-image: url(../img/client_bg-4-1.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    padding: 150px 0;
    padding-bottom: 200px;
    color: #fff;
}

.testomonial-section-area h2, h4 {
     font-family: 'Questrial', sans-serif;
}

.testomonial-section-area h2 {
	font-family: 'Questrial', sans-serif;
	font-size: 36px;
	color: #fff;
}

.testomonial-description p, h5{
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}


.testomonial-description h2 {
	color: #fff;
	font-size: 43px;
}
.testomonial-description p {
	color: #fff;
	font-size: 21px;
	line-height: 31px;
}
.testomonial-description h4 {
	font-size: 34px;
	line-height: 48px;
}
.testomonial-description h5 {
	font-size: 18px;
	color: #fff;
	line-height: 25px;
}



.testomonial-image {
	width: 100%;
}





/*CONTACT STARTS*/
.contact-area{
	padding: 80px 0;
}

.contact-area {
	background: url("../img/contact_bg-5-1.png");
	background-position: right;
	background-size: cover;
	background-repeat: no-repeat;
}

.contact-area h2 {
	font-size: 34px;
	color: #021639;
	font-family: 'Questrial', sans-serif;
}

.frm {
	background: #FCF8FF;
	padding: 4%;
	border-radius: 15px;
}
.frm button {
	background: #887AFC;
    padding: 15px 0;
}


.frm input {
	background: #EBEAF3;
}
.frm textarea {
	background: #EBEAF3;
}

.form-control::-webkit-input-placeholder {
	color: #999;
	opacity: 1;
}
.form-control:-ms-input-placeholder {
	color: #999;
	opacity: 1;
}
.form-control::placeholder {
	color: #999;
	opacity: 1;
}





/*ACCREDITAIONS STARTS*/


.accreditaions {
	background: #FCF8FF;
	padding: 80px 0;
}

.accreditaions img {
	width: 60%;
}

.accreditations {
	position: relative;
}

.dual-corner-img {
	position: absolute;
	top: 50%;
	left: 10%;
	width: 84%;
}

.footer-area {
	padding: 100px 0;
	background: #04143A;
}

.footer-item p {
	font-family: 'Questrial', sans-serif;
	font-size: 18px;
    color: #92A1B9;
}

.footer-item-link a {
	display: block;
	margin-bottom: 5px;
	color: #fff;
	font-size: 14px;
	font-family: 'Questrial', sans-serif;
	line-height: 26px;
}

.footer-item-link a:hover {
	color: ;
	color: #858C98;
}
.footer-item-link {
	margin-top: 3.5rem;
}
.footer-item-social {
	margin-top: 3.5rem;
}
.footer-item-social h5 {
	font-size: 14px;
	font-weight: 500;
	color: #fff;
}

.social-link a {
	margin-right: 5px;
	padding: 8px 12px;
	border: 1px solid #ddd;
	border-radius: 12px;
	color: #ddd;
	width: ;
}

.social-link a:first-child {
	padding: 8px 14px;
}
.social-link {
	margin-top: 25px;
}
.footer-item-link a {
	display: block;
	margin-bottom: 7px;
	color: #ddd;
	font-size: 14px;
	font-weight: 400;
}

.footer-item-para {
	margin-top: 3.5rem;
}
.footer-item-para p {
	color: #fff;
	font-size: 12px;
	width: 70%;
}

.social-link a:hover {
	background: #ddd;
	color: #04143A;
	-webkit-transition: .5s;
	transition: .5s;
}


/*owl carousel*/

.owl-nav{
    display: block;
}

.owl-theme .owl-nav {
	margin-top: 10px;
	position: absolute;
	top: -20%;
	right: 15%;
}

#target_id .owl-nav .owl-prev,
#target_id .owl-nav .owl-next,
#client .owl-nav .owl-prev,
#client .owl-nav .owl-next {
    background: #9086FC;
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.owl-nav .owl-prev span, .owl-nav .owl-next span {
	font-size: 25px;
	font-weight: bold;
}

#client .owl-nav .owl-prev {
	background: ;
	margin-right: 40px;
}

.owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled{
    display: block;
}

.owl-theme .owl-dots, .owl-theme .owl-nav {
	text-align: left;
	-webkit-tap-highlight-color: transparent;
}

#client .owl-dots .owl-dot span {
	width: 15px;
	height: 15px;
}
.owl-theme .owl-dots {
	text-align: left;
	-webkit-tap-highlight-color: transparent;
	position: absolute;
	top: 110%;
}


.single-data-slide{
	display: none;
}











